@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

/* @font-face {
  font-family: XITSMath-Regular;
  src: url(xits-math.woff);
} */

.os-custom-scrollbar-theme.os-scrollbar {
  --os-size: 12px;
  --os-track-border-radius: 0;
  --os-track-bg: rgba(0, 0, 0, 0.05);
  --os-handle-bg: rgba(90, 90, 90, 0.5);
  --os-handle-bg-hover: rgba(90, 90, 90, 0.7);
  --os-handle-bg-active: rgba(90, 90, 90, 0.5);
  --os-handle-border-radius: 0;
  --os-handle-min-size: 32px;
}

.os-custom-scrollbar-theme-small.os-scrollbar {
  --os-size: 4px;
  --os-track-border-radius: 0;
  --os-track-bg: rgba(0, 0, 0, 0.05);
  --os-handle-bg: rgba(90, 90, 90, 0.5);
  --os-handle-bg-hover: rgba(90, 90, 90, 0.7);
  --os-handle-bg-active: rgba(90, 90, 90, 0.5);
  --os-handle-border-radius: 2px;
  --os-handle-min-size: 32px;
}

.math {
  font-family: XITSMath-Regular;
}

.custom-bg-color {
  background-color: #241b2f;
}

.custom-bg-bg-color {
  background-color: #171520;
}

.custom-bg-input-color {
  background-color: #262335;
}

.custom-bg-hover-color:hover {
  background-color: #332a3d;
}

.custom-bg-active-color {
  background-color: #4b3d5b;
}

.custom-border-bg-color {
  border-color: #171520;
}

.custom-bg-dropdown-color {
  background-color: #463465;
}
